@model SIMS_Demo.Models.Timetable

<h1>Timetable Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">Title:</dt>
        <dd class="col-sm-9">@Model.Title</dd>

        <dt class="col-sm-3">Start Time:</dt>
        <dd class="col-sm-9">@Model.StartTime.ToString("dd/MM/yyyy HH:mm")</dd>

        <dt class="col-sm-3">End Time:</dt>
        <dd class="col-sm-9">@Model.EndTime.ToString("dd/MM/yyyy HH:mm")</dd>

        <dt class="col-sm-3">Location:</dt>
        <dd class="col-sm-9">@Model.Location</dd>

        <dt class="col-sm-3">Description:</dt>
        <dd class="col-sm-9">@Model.Description</dd>

        <dt class="col-sm-3">Organizer:</dt>
        <dd class="col-sm-9">@Model.Organizer</dd>

        <dt class="col-sm-3">Status:</dt>
        <dd class="col-sm-9">@Model.Status</dd>
    </dl>
</div>

<a asp-controller="Timetable" asp-action="Index" class="btn btn-primary">Back to List</a>
